.profile-section {
}

.tweet-list-section {
}

#main-section {
	display: flex;
}

.section {
	flex-direction: column;
	padding: 10px;
	margin: 10px;
}

.tweet {
	border-bottom: 1px solid gray;
}

.tweet-name {
	font-weight: bold;
}

.retweet-action-icon {
}

.retweet-action-btn {
	border: none;
	height: 30px;
	width: 115px;
	background: url(../images/retweet.svg);
	background-repeat: no-repeat;
}